.bg-success {
    background-color: #67C23A;
}

.bg-warning {
    background-color: #E6A23C;
}

.bg-danger {
    background-color: #F56C6C;
}

.bg-info {
    background-color: #909399;
}